.bg-height {
    height: 75vh;
   
}

.logo-size {
    height: 200px;
    border-radius: 50%;
}

.background{
    background-image: url('../../../barn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headings {
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 50px;
}

.welcome, .treasure, .logo {
    height: 33%;
    text-align: center;
}

/* @media (max-height: 1263px) {
    .headings {
        color: white;
        text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        font-size: 30px;
    }

    
} */

@media (max-width: 540px), (max-height: 701px) {
    .headings {
        color: white;
        text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        font-size: 30px;
    }

    .logo-size {
        height: 120px;
    }
}