/* upper page */

.background {
  height: 600px;
  background-image: url("../../../barn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.logosize {
  height: 200px;
  border-radius: 50%;
}

.item1 {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.item2 {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.item3 {
  grid-row: 3;
  grid-column: 1;
}

.item4 {
  grid-row: 3;
  grid-column: 2;
}

/* beginning of new section */

.info {
  height: 1500px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
}

.item5 {
  grid-row: 1;
  grid-column: 1 / span 4;
}


.item6 {
  grid-row: 2;
  grid-column: 1;
}

.item7 {
  grid-row: 2;
  grid-column: 2;
}

.item8 {
  grid-row: 2;
  grid-column: 3;
}

.item9 {
  grid-row: 2;
  grid-column: 4;
}
