.main-height {
    height: 75%;
}

.contact-page {
    height:800px;
}

.add-page {
    height: 1000px;
}

.items-page{
    height: 900px;
}

.search-page{
    height: 950px;
}

.view-item{
    height: 750px;
}