.maingrid{
    display: grid;
    grid-template-columns: 70% 30%;
    height: 700px;
}

.cart{

}

.summary{
 display: grid;
 grid-template-columns: 15% 70% 15%;
 background-color: rgb(245, 245, 245);
}

.mainsummary{
    display: grid;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}