.sub-height {
    height: 75vh;
}

.no-deco {
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Lucida console', monospace;
  }

  .border-list {
    border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  }