@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.textstyle {
  font-family: "Permanent Marker", sans-serif;
}

.textstyle2 {
  font-family: "Montserrat", sans-serif;
}

.links:hover {
  color: rgb(139, 132, 132);
  font-size: 15px;
}

.fontcolor {
  color: white;
}

.footer {
  height: 270px;
  background-color: #363434;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 25% 75%;
}

.smallfooter {
  height: 565px;
  background-color: #363434;
  display: grid;
  grid-template-rows: 40px 25px 25px 75px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-columns: 25% 25% 25% 25%;
}

.linkdiv {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.link1{
grid-row: 2;
grid-column: 2;
}

.link2{
grid-row: 2;
grid-column: 3;
display: flex;
justify-content: end;
}

.link3{
grid-row: 3;
grid-column: 2;
}

.link4{
grid-row: 3;
grid-column: 3;
display: flex;
justify-content: end;
}

.furnicat{
  grid-row: 4;
  grid-column: 1 / span 4;
}

.furniline::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 299px;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.linkdiv::after{
  content: '';
  position: absolute;
  
  width: 80px;
  top: 40px;
  height: 1px;
  background-color: rgb(255, 255, 255);
}

.cat1{
grid-row: 5;
grid-column: 1 / span 2;
}

.cat2{
  grid-row: 5;
  grid-column: 3 / span 2;
}

.cat3{
  grid-row: 6;
  grid-column: 1 / span 2;
}

.cat4{
  grid-row: 6;
  grid-column: 3 / span 2;
}

.cat5{
  grid-row: 7;
  grid-column: 1 / span 2;
}

.cat6{
  grid-row: 7;
  grid-column: 3 / span 2;
}

.cat7{
  grid-row: 8;
  grid-column: 1 / span 2;
}

.cat8{
  grid-row: 8;
  grid-column: 3 / span 2;
}

.follow{
  grid-row: 9;
  grid-column: 2 / span 2;
}

.followus{
  grid-row: 10;
  grid-column: 2 / span 2;
}

.followline::after{
  content: '';
  position: absolute;
   
  width: 160px;
  height: 1px;
  bottom: 7px;
  background-color: rgb(255, 255, 255);
}

.logoitem{
  grid-row: 11;
  grid-column: 1 /span 4;
  
}

.footerlogo {
  height: 90px;
  align-self: center;
  justify-self: center;
}

@media (max-width: 1083px) {
  .footerlogo {
    height: 60px;
    align-self: center;
    justify-self: center;
  }
}



.linkcell {
  width: 800px;
  height: 200px;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 25% 50% 25%;
  position: relative;
}

.linkcell::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(25% - 1px);
  height: 1px;
  background-color: white;
}

.ul {
  padding: 0;
  margin: 0;
}

.categorygrid {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 35% 65%;
}

@media (max-width: 1075px) {
  .hsize {
    font-size: 20px;
  }

  .linkcell {
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 50% 25%;
    position: relative;
  }

  .links {
    font-size: 15px;
  }
}

@media (max-width: 839px) {
  .hsize {
    font-size: 15px;
  }

  .linkcell {
    width: 500px;
    height: 200px;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 50% 25%;
    position: relative;
  }

  .links {
    font-size: 12px;
  }
}

@media (max-width: 715px) {
  .posish{
    position: absolute;
    left: 150px;
  }

  .dining{
    position: absolute;
    right: 150px;
  }

  .home{
    position: absolute;
    right: 150px;
  }

  .bed{
    position: absolute;
    right: 150px;
  }

  .office{
   position: absolute;
   right: 150px;
  }
}

@media (max-width: 616px) {
  .posish{
    position: absolute;
    left: 105px;
  }

  .dining{
    position: absolute;
    right: 105px;
  }

  .home{
    position: absolute;
    right: 105px;
  }

  .bed{
    position: absolute;
    right: 105px;
  }

  .office{
   position: absolute;
   right: 105px;
  }
}

@media (max-width: 516px) {
  .posish{
    position: absolute;
    left: 65px;
  }

  .dining{
    position: absolute;
    right: 65px;
  }

  .home{
    position: absolute;
    right: 65px;
  }

  .bed{
    position: absolute;
    right: 65px;
  }

  .office{
   position: absolute;
   right: 65px;
  }
}

@media (max-width: 428px) {
  .posish{
    position: absolute;
    left: 30px;
  }

  .dining{
    position: absolute;
    right: 30px;
  }

  .home{
    position: absolute;
    right: 30px;
  }

  .bed{
    position: absolute;
    right: 30px;
  }

  .office{
   position: absolute;
   right: 30px;
  }
}

