@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.textstyle{
font-family: 'Permanent Marker', sans-serif;
}

.textstyle2{
font-family: 'Montserrat', sans-serif;
}

.links:hover{
    color: rgb(139, 132, 132); 
    font-size: 15px;
  }

.fontcolor{
    color: white;
}

.footer{
    height: 270px;
    background-color: #363434;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 25% 75%;
}

.footerlogo{
    height: 90px;
    align-self: center;
    justify-self: center;
}

@media (max-width: 1083px) {
    .footerlogo{
        height: 60px;
        align-self: center;
        justify-self: center;
    }
}

.hsize{
 
}




.linkcell{
    width: 800px;
    height: 200px;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 50% 25%;
    position: relative;
}



.linkcell::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: calc(25% - 1px);
    height: 1px;
    background-color: white;
}

.ul {
    padding: 0;
    margin: 0;
  }

  .categorygrid{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 35% 65%;
  }

  @media (max-width: 1075px) {
    .hsize{ 
        font-size: 20px;
    }

    .linkcell{
        width: 600px;
        height: 200px;
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 25% 50% 25%;
        position: relative;
    }

    .links{
       font-size: 15px;
    }
}

@media (max-width: 839px) {
    .hsize{ 
        font-size: 15px;
    }

    .linkcell{
        width: 500px;
        height: 200px;
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 25% 50% 25%;
        position: relative;
    }

    .links{
       font-size: 12px;
    }
}