
.search-height {
    min-height: 75vh;
}

.t-align {
    text-align: center;
}

.f-width {
    width: 350px;
}

.bar {
    height: 100px;
}

.t-height {
    height: 100%;
}

.scroll-height {
    height: 50px;
}

.scroll-cnt {
    overflow: visible;
}

.s-height {
    height: 400px;
}

/* @media screen and (max-width: 1315px) {
.scroll-cnt {
    overflow: scroll;
}
} */