.img-size {
    width: 200px;
    height: 180px;
}

.overflow-container {
     overflow: scroll;
  }

  .div-width {
    width: 33%;
  }

 

.browse-height {
  height: 100%;
}


.link-height {
  height: 20%;
}

.image-height {
  height: 80%;
}

.browse-height-mobile {
height: 100%;
}

.red {
  color: red;
  font-family: 'Lucida console', monospace;
}

.no-deco {
  text-decoration: none;
}

.border-btn {
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
}

.btn-width {
  width: 200px;
  font-size: 15px;
}

.top {
  top: 25%;
}

.left {
  left: 38%;
}