.img-size {
    width: 200px;
    height: 180px;
}

.overflow-container {
     overflow: scroll;
  }

  .div-width {
    width: 33%;
  }

 

.browse-height {
  height: 100%;
}

.link-height {
  height: 20%;
}

.image-height {
  height: 80%;
}

.browse-height-mobile {
height: 100%;
}

.red {
  color: red;
  font-family: 'Brush Script MT', sans-serif;
}

.no-deco {
  text-decoration: none;
}