.img-size {
    width: 200px;
    height: 180px;
}

.overflow-container {
     overflow: scroll;
    
  }

  .div-width {
    width: 33%;
  }

 

.browse-height {
  min-height: 570px;
}

.browse-height-mobile {
  min-height: 500px;
}

.red {
  color: red;
  font-family: 'Brush Script MT', sans-serif;
}

.no-deco {
  text-decoration: none;
}